mat-toolbar {
    color: white;
    background-color: #3f51b5;
}

.spinner-container {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  mat-progress-spinner {
    margin: auto;
    top: 24em;
  }

.centered {
    width: 50%;
    height: 25%;
    position: absolute;
    justify-content: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    width: 30%;
    height: 25%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#postCard {
    margin-bottom: 20px;
}

.submitButton {
    margin-left: 15px;
}